/********************************************
*	Colors I am Using:
*	Ink: #04080F
*	Lavender: #FEEAFA
*	Cherry: #C41E3D
*	Ember: #BA1200
*	Sky: #57C4E5
********************************************/

.banner {
    display: flex;
    height: fit-content;
    border-top: 2px solid var(--cherry);
    padding: 30px 0 3em 0;
    background: linear-gradient(to bottom, var(--lavender) 75%, rgb(255,0,0,0) 100%);
    position: initial;
    justify-content: center;
    margin-bottom: 50px;
}

.banner h1 {
    text-decoration: 2px underline var(--sky);
    text-underline-offset: .2em;
}

h2 {
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 15px;
}

.line {
    margin-left: 0;
    width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-items: center;
    padding: 1em;
    border: 2px solid var(--cherry);
    border-radius: 4px;
    margin: 2em;
}

.artist-image {
    width: 90%;
    margin: 0 auto;
}

.artist-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.description h2 {
    padding: 5px 0 3px 1px;
    text-align: center;
}

.description .quote {
    padding: .5em;
    margin: 5px;
    margin-top: 10px;
    text-align: center;
    background-color: #20242B; /*#04080F*/
    border-radius: 5px;
    font-style: italic;
}

.description .info {
    flex-grow: 1;
    padding-top: 3px;
    padding-left: 1px;
}

@media only screen and (min-width: 768px) {
    p {
        text-align: left;
    }

    .about {
        display: grid;
        grid-template-columns: auto auto;

        width: 90%;
        max-width: 800px;
        margin: 0 auto;
    }

    .description h2 {
        text-align: left;
    }
}

@media only screen and (min-width: 1200px) and (hover: hover) {
    .about {
        width: 800px;
        margin: 0 auto;
    }
}
