
/********************************************
*	Colors I am Using:
*	Ink: #04080F
*	Lavender: #FEEAFA
*	Cherry: #C41E3D
*	Ember: #BA1200
*	Sky: #57C4E5
********************************************/

.banner {
    display: flex;
    height: fit-content;
    border-top: 2px solid var(--cherry);
    padding: 30px 0 3em 0;
    background: linear-gradient(to bottom, var(--lavender) 75%, rgb(255,0,0,0) 100%);
    position: initial;
    justify-content: center;
    margin-bottom: 30px;
}

.banner h2 {
    color: var(--ink);
    font-size: 20px;
    text-decoration: 2px underline var(--sky);
    text-underline-offset: .2em;
    flex-wrap: nowrap;
}

.disclaimer {
    width: 80%;
    margin: 0 auto;
    border: 2px solid var(--ember);
    box-shadow: inset var(--ember) 0 0px 2px, inset #991200 0 0 4px, inset #991200 0 0 10px, var(--ember) 0 0px 4px, #991200 0 0 10px, #991200 0 0 20px;
    font-size: 15px;
}

p {
    padding: 1em;
    text-align: center;
}

/***************Image Galary Secton*****************/
.gallery {
    border: 2px solid var(--ember);
    width: 80%;
    margin: 10px auto;
    padding-bottom: 1em;
}

.group {
    display: flex;
    align-items: center;
}

.art {
    max-width: calc(100% - 2em);
    overflow-x: auto;
    margin: 1em auto 0;
    border: 2px solid var(--cherry);
    border-radius: 5px;
    padding: 0 5px;
    flex-grow: 1;
}

.art::-webkit-scrollbar {
    display: none;
}

.arrow {
    height: 2em;
    width: 2em;
    background: var(--ink);
    border: 2px solid red;
    border-radius: 100px;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lavender);
}

.arrow:hover {
    cursor: default;
}

.carousel {
    display: flex;
    height: fit-content;
    gap: 1em;
    padding: 1em 0;
}

.carousel div {
    flex: 0 0 10em;
    height: 10em;
    border-radius: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery h3 {
    text-align: center;
    margin-top: .5em;
}

.carousel img {
    max-height: 100%;
}

.not, .note p {
    padding: 5px;
    font-size: 15px;
}


