
/********************************************
*	Colors I am Using:
*	Ink: #04080F
*	Lavender: #FEEAFA
*	Cherry: #C41E3D
*	Ember: #BA1200
*	Sky: #57C4E5
********************************************/

.banner {
    display: flex;
    height: fit-content;
    border-top: 2px solid var(--cherry);
    padding: 30px 0 3em 0;
    background: linear-gradient(to bottom, var(--lavender) 75%, rgb(255,0,0,0) 100%);
    position: initial;
    justify-content: center;
}

.banner h1 {
    text-decoration: 2px underline var(--sky);
    text-underline-offset: .2em;
}

.disclaimer {
    width: 80%;
    margin: 1em auto;
    border: 2px solid var(--cherry);
}

p {
    padding: 1em;
    text-align: center;
}

.gallery {
    width: 80%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
}

.gallery div {
    max-width: 400px;
}
