
/********************************************
*	Colors I am Using:
*	Ink: #04080F
*	Lavender: #FEEAFA
*	Cherry: #C41E3D
*	Ember: #BA1200
*	Sky: #57C4E5
********************************************/
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Gochi+Hand|Roboto');

:root {
	--ink: #04080F;
	--lavender: #FEEAFA;
	--cherry: #C41E3D;
	--ember: #BA1200;
	--sky: #57C4E5;
}

body {
	background-color: var(--ink);
}

body::after {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	/*centent: url(fill this with images you might want to preload)*/
}

h1 {
	font-family: "Gochi Hand", cursive;
	font-weight: 600;
	font-style: normal;
	font-size: calc(30px + 2vw);
}

h2, h3 {
	font-family: "Roboto", sans-serif;
	color: var(--lavender);
	font-weight: 600;
	font-size: 4vw;
}

p {
	font-family: "Roboto", sans-serif;
	color: var(--lavender);
	font-size: 1.5vmax;
}

img {
	max-width: 100%;
}

.line {
	width: 75vw;
	height: 2px;
	justify-self: center;
	background-color: var(--sky);
	
}

/****** Code for the Main Site Header ******/
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: var(--lavender);

	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

.menu-button {
	padding-left: 0.5em;
}

.menu-button div {
	width: 30px;
	height: 5px;
	background-color: var(--ink);
	margin: 6px 0;
}

.header-logo {
	width: fit-content;
	height: 100%;
	padding-right: 0.3em;
	display: flex;
	cursor: pointer;
}

.header-logo img {
	height: 60px;
	align-self: center;
}

nav ul li {
	width: fit-content;
	border: 2px solid var(--sky);
	border-radius: 20px;
}

nav ul li a {
	font-size: 3vw;
	font-family: "Roboto", sans-serif;
	color: var(--lavender);
	display: block;
	height: 100%;
	padding: 0.3em 0;
	text-align: center;
	cursor: pointer;
}

nav ul li:hover {
	box-shadow: inset 0 0 10px 0 var(--lavender);
}

nav ul li a:hover {
	color: var(--sky);
}

/*******************************************/

/******** Code for the Main content ********/
main {
	width: 100%;
	height: calc(100vh - 60px);
	margin-top: 60px;
}
/*******************************************/

/********* Code for Responsiveness *********/
@media only screen and (max-width: 375px) {
	h1 {
		font-size: 20px;
		display: none;
	}
}

@media only screen and (min-width: 601px) and (min-aspect-ratio: 1/1) {

	nav ul li a {
		font-size: 2vw;
	}

	h2 {
		font-size: 2vw;
	}
}

@media only screen and (min-width: 768px) {

	h2, h3 {
		font-size: 20px;
	}

	nav ul li a {
		font-size: 20px;
	}
}

@media only screen and (min-width: 992px) {


}

@media only screen and (min-width: 1200px) {
	h1 {
		font-size: 50px;
	}
}
/*******************************************/
