
/********************************************
*	Colors I am Using:
*	Ink: #04080F
*	Lavender: #FEEAFA
*	Cherry: #C41E3D
*	Ember: #BA1200
*	Sky: #57C4E5
********************************************/
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Gochi+Hand|Roboto');

:root {
	--ink: #04080F;
	--lavender: #FEEAFA;
	--cherry: #C41E3D;
	--ember: #BA1200;
	--sky: #57C4E5;
}

body {
	background-color: var(--ink);
}

body::after {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	/*centent: url(fill this with images you might want to preload)*/
}

h1 {
	font-family: "Gochi Hand", cursive;
	font-weight: 600;
	font-style: normal;
	font-size: calc(30px + 2vw);
}

h2, h3 {
	font-family: "Roboto", sans-serif;
	color: var(--lavender);
	font-weight: 600;
	font-size: 4vw;
}

p {
	font-family: "Roboto", sans-serif;
	color: var(--lavender);
	font-size: 1.5vmax;
}

img {
	max-width: 100%;
}

.line {
	width: 75%;
	height: 2px;
	margin: 0 auto;
	background-color: var(--sky);
	border-radius: 10px;
	box-shadow: var(--sky) 0 0px 4px, blue 0 0 10px, var(--sky) 0 0 20px, blue 0 0 40px;

}

/****** Code for the Main Site Header ******/
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: var(--lavender);

	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.menu-button {
	width: 60px;
	display: inline-block;
	cursor: pointer;
}

.menu-button div {
	width: 30px;
	height: 5px;
	background-color: var(--ink);
	margin: 6px auto;
	transition: 0.4s;
}

.change div:nth-child(1) {
	transform: translate(0, 11px) rotate(-45deg);
}
.change div:nth-child(2) {
	opacity: 0;
}
.change div:nth-child(3) {
	transform: translate(0, -11px) rotate(45deg);
}

.header-logo {
	width: 60px;
	cursor: pointer;
}

.header-logo img {
	height: 60px;
	margin: auto;
}

nav ul li {
	width: fit-content;
	border: 2px solid var(--sky);
	border-radius: 20px;
	box-shadow: var(--sky) 0 0px 4px, blue 0 0 10px, var(--sky) 0 0 20px, blue 0 0 40px;
	cursor: default;
}

nav ul li a {
	font-size: 3vw;
	font-family: "Roboto", sans-serif;
	color: var(--lavender);
	display: block;
	height: 100%;
	padding: 0.3em 0;
	text-align: center;
}

nav ul li:hover:not(.wip) {
	box-shadow: inset 0 0 5px var(--sky), inset 0 0 10px 0 blue, var(--sky) 0 0px 4px, blue 0 0 10px, var(--sky) 0 0 20px, blue 0 0 40px;
	cursor: pointer;
}

nav ul li:not(.wip) a:hover {
	color: var(--sky);
}

.wip:hover a {
	color: var(--ember);
	text-decoration: line-through;
}

/*******************************************/
#sidebar {
	display: none;
	width: 100%;
	height: calc(100% - 60px);
	background-color: rgba(32, 36, 43, .5);
	position: fixed !important;
	z-index: 50;
	overflow: auto;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(32, 36, 43, .5), 0 0 10px rgba(32, 36, 43, .5), 0 0 15px rgba(32, 36, 43, .5);
	animation: animateleft 0.4s;
}
@keyframes animateleft {
	from {
		left: -300px;
		opacity: 0
	}

	to {
		left: 0;
		opacity: 1
	}
}
#sidebar ul {
	margin: auto;
}
#sidebar ul li {
	margin: 1em auto;
	width: 175px;
	background-color: rgba(32, 36, 43, .5);
}
#sidebar ul li a {
	font-size: 18px;
}

/******** Code for the Main content ********/
main {
	width: 100%;
	min-height: fit-content;
	height: calc(100vh - 60px);
	margin-top: 60px;
}
/*******************************************/

/********* Code for Responsiveness *********/
@media only screen and (max-width: 375px) {
	h1 {
		font-size: 20px;
		display: none;
	}
}

@media only screen and (min-width: 601px) and (min-aspect-ratio: 1/1) {

	nav ul li a {
		font-size: 2vw;
	}

	h2 {
		font-size: 2vw;
	}
}

@media only screen and (min-width: 768px) {

	h2, h3 {
		font-size: 20px;
	}

	nav ul li a {
		font-size: 20px;
	}

	#sidebar {
		width: 200px;
		height: fit-content;
		overflow: auto;
		border-radius: 5px;
		box-shadow: 0 0 5px rgba(32, 36, 43, .5), 0 0 10px rgba(32, 36, 43, .5), 0 0 15px rgba(32, 36, 43, .5);
		position: relative;
		animation: animateleft 0.4s;
	}
	@keyframes animateleft {
		from {
			left: -300px;
			opacity: 0
		}
		to {
			left: 0;
			opacity: 1
		}
	}

	#sidebar ul {
		margin: 3em 1em;
	}

	#sidebar ul li {
		margin: 1em auto;
		width: 75%;
	}
}

@media only screen and (min-width: 992px) {


}

@media only screen and (min-width: 1200px) {
	h1 {
		font-size: 50px;
	}
}
/*******************************************/
